<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars and Cats</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <div id="container">
        <div class="header">
            <h1>Cars and Cats</h1>
            <div class="nav">
                <ul>
                    <li><a href="/cats">CATS</a></li>
                    <li><a href="/cars">CARS</a></li>
                    <li><a href="/cars/new">NEW CARS</a></li>
                </ul>
            </div>
        </div>
        <div class="section">

        </div>
    </div>
</body>
</html>