<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Cars</title>
</head>
<body>
    <div id="container">
        <div class="header">
            <h1>New Cars</h1>
            <div class="nav">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/cars">CARS</a></li>
                    <li><a href="/cats">CATS</a></li>
                </ul>
            </div>
        </div>
        <div class="section">
            <form action="">
                <label for="make">Make</label>
                <input type="text" name="make" id="">

                <label for="make">Make</label>
                <input type="text" name="make" id="">

                <label for="make">Make</label>
                <input type="text" name="make" id="">

                <input type="submit" name="submit">
            </form>
        </div>
    </div>
</body>
</html>